@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif; 
  text-align: center;
  background-color: #f2f2f2;
  color: #333;
}

h1 {
  margin: 50px;
  font-size: 48px;
  color: #555;
}

img {
  width: 20%;
}

.container {
  padding: 50px;
}

.form input,
.form button {
  height: 50px;
  font-size: 16px;
  font-family: "Poppins", sans-serif; 
  color: #444;
}

.form input {
  width: 400px;
  border: 2px solid #ccc;
}

.form button {
  width: 100px;
  background-color: #007bff;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
}

#todolist {
  width: 500px;
  margin: 20px auto;
  list-style-type: none;
}

#todolist li {
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-bottom: 5px solid #007bff;
  background-color: #fff;
}

#todolist li a {
  float: right;
  font-size: 16px;
  cursor: pointer;
  color: #007bff;
  font-family: "Poppins", sans-serif; 
}

